body {
	margin: 0px;
	background-repeat: no-repeat; 
	background-attachment: fixed;
	background-size: cover;
	min-height: 100%;
	font-family: 'Raleway', sans-serif;
	color: white;
	text-align: center;
	background-color: #303030;
}
html {
	height: 100%;
}
.container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: page 1s ease-in-out;
	align-items: center;
	display: flex;
	flex-direction: column;
	height: auto;
	justify-content: center;
	padding: 1rem 0;
	width: 100%;
	z-index: 10;
}
h1, h3 {
	font-size: 13vmin;
	margin: 0;
	transition: all .5s ease;
	margin: 0;
}
.form-box {
	margin-top: 2em;
	padding-top: 1.3em;
}
img {
	min-width: 100%;
	height: 100%;
	opacity: 1;
	left: 0;
	position: fixed;
	top: 0;
	animation-duration: 5s;
    animation-fill-mode: both;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(2px) brightness(75%);
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

img {
	animation-name: fadeIn;
}

.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
input 				{
	color: white;
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  border:none;
  border-bottom:1px solid #656565;
  background:transparent !important;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#cecece; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#ffffff;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:3px; 
  width:0;
  bottom:1px; 
  position:absolute;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100%; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.4s ease;
  -moz-animation:inputHighlighter 0.4s ease;
  animation:inputHighlighter 0.4s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#ffffff; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#ffffff; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#ffffff; }
  to 	{ width:0; background:transparent; }
}